.heroBanner {
  padding: 6rem 0;
  text-align: center;
  background: #000000; 
  color: #fff;      
  position: relative;
  overflow: hidden;
}

.hero__title {
  font-size: 3rem;
  font-weight: bold;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gradientText {
  background: linear-gradient(90deg, #00ffcc, #00ccff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText:hover {
  background: linear-gradient(90deg, #ff2f00, #fefb37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 4rem 1rem;
  }
  .hero__title {
    font-size: 2.5rem;
  }
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
}